.button--big {
  font-size: $m-size;
  font-weight: 400;
  @include transition();
}

.button--primary {
  border-radius: 20px;
  margin-top: $padding-sm;
  @include linearGradient(180deg, $orange, $red);
  @include boxShadow($red);

  &:hover {
    @include linearGradient(180deg, darken($orange, 5%), darken($red, 5%));
  }
}

.button--secondary {
  @extend .button--primary;
  @include linearGradient(180deg, $orange, $red);
  @include boxShadow($red);

  &:hover {
    @include linearGradient(180deg, darken($orange, 5%), darken($red, 5%));
  }
}

.button--third {
  @extend .button--primary;
  @include linearGradient(180deg, #1f1919, #120f0f);
  @include boxShadow(#181414);

  &:hover {
    @include linearGradient(180deg, darken(#1f1919, 5%), darken(#120f0f, 5%));
  }
}