.beater {
  width: 100%;
  height: 78vh;
  position: relative;
}
.beater__main {
  width:70%;
  max-width: 120rem;
  height: 100%;
  margin: auto;
  position: relative;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.beater__main-title {
  color: #fff;
  font-size: $font-sm;
  font-weight: 700;
  margin-bottom: $m-size;
}
.beater__main-maintitle {
  color: #bba474;
  font-size: $font-sm;
  font-weight: 700;
  margin-bottom: $m-size;
  line-height: $l-size;
}

.beater__main-subtitle {
  margin-bottom: 10px;
  line-height: 2.2rem;
  @media (min-width: 1024px) {
    width: 80%;
  }
}

.beater__main-actions {
  display: flex;

  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.slider {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  background-color: #231b19eb;
  z-index: 999;
  /* Add additional styling for the slider */
}
