// Header.scss

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
    /* background-color: #333; */
    color: #fff;

  }
  .header__text {
    margin-left: 12px;
    font-size: 1.5rem; // Adjust the font size as needed
    white-space: nowrap; // Prevent the text from wrapping to the next line
    overflow: hidden; // Hide any overflowing text
    text-overflow: ellipsis; // Show ellipsis (...) when the text exceeds the container width
  }
  
  .header-logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex; // Added
    flex-direction: row; // Added
  }
  
  
  .navigation {

    display: flex;
    gap: 1.5rem;
    margin-left: 2rem;
  }
  
  .navigation-link {
    font-size: 2rem;
    color: #bba474;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .navigation-link:hover {
    color: #f9f5d0;
  }

  .footernav-link {
    font-size: 1.4rem;
    color: #bba474;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .footernav-link:hover {
    color: #f9f5d0;
  }

  .controller {
    height: 35px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 10px;
   background-color: #1c1513eb; 
    color: #fff;

  }

  /* CSS for modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #181414;
  padding: 20px;
  border-radius: 8px;
}

.modal-large {
  width: 800px;
  height: 400px;
}

.modal-extra-large {
  width: 1200px;
  height: 800px;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start of each line */
  margin-top: 20px;
  width: 100vh;
  gap: 20px; /* Add the desired space between items */
}

.buttons-container > * {
  width: calc(50% - 10px); /* Set the width of each item to occupy 50% of the container minus the gap */
}


.contact-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: $orange;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.contact-button:last-child {
  margin-bottom: 0;
}

.contact-button:hover {
  background-color:rgb(255, 98, 0);
}