// main.scss

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Custom Styles
.beater__header {
  display: flex;
  align-items: center;
}

.beater__logo-wrapper {
  margin-right: 10px;
}

.beater__logo-name {
  font-size: 18px;
  font-weight: normal;
  margin-left: 5px;
}
/*
 -------------------
 Base
*/

@import './base/settings';
@import './base/base';

/*
 -------------------
 Mixins and functions
*/

@import './mixins/mixins';

/*
 -------------------
 Components
*/
@import './components/button';
@import './components/loader';
@import './components/main-screen';
@import './components/game';
@import './components/gameover';

/*
 -------------------
 Responsive
*/

@import './responsive/tablet';
@import './responsive/smartphone';

/*
 -------------------
 Utils
*/
@import './utils/animation';
