@media (max-width: 425px) {
  .header {
    margin-top: 2rem;
    padding-left: 2%;
    padding-right: 2%;
  }
  .header__text {
    font-size: 1.4rem; // Adjust the font size as needed
   }
   .beater__main-maintitle {
    color: #bba474;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: $s-size;
    line-height: $m-size;
  }
  .beater__main-subtitle {
    margin-bottom: 10px;
    line-height: 1.8rem;
    font-size: 1.5rem;
    @media (min-width: 1024px) {
      width: 80%;
    }
  }
  .modal-small {
    width: 400px;
    height: 300px;
  }
  .modal-large {
    width: 400px;
    height: 600px;
  }
  
  .modal-extra-large {
    width: 1200px;
    height: 800px;
  }

  .contact-button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #211918eb;
    width: 100%;
    height: 10rem;
    color: #fff;
  }
  
  .contact-button:last-child {
    margin-bottom: 0;
  }
  
  .contact-button:hover {
    background-color: #fff;
    color: #181414;
  }

  .modal-content.modal-large {
    // Your existing styles for modal content
  
    .support-buttons {
      margin-top: 20px;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
  
      .buy-me-coffee {
        background-color: #211918eb;
        width: 100%;
        height: 15rem;
        margin-top: 1rem;
        color: #fff;
        // Additional styles for Buy Me a Coffee button
      }
  
      .kofi {
        background-color: #211918eb;
        width: 100%;
        height: 15rem;
        color: #fff;
        // Additional styles for Ko-fi button
      }
  
      .buy-me-coffee:hover {
        background-color: #fff;
        color: #181414;
        // Additional styles for Buy Me a Coffee button
      }
  
      .kofi:hover {
        background-color: #fff;
        color: #181414;
        // Additional styles for Ko-fi button
      }
    }
  }
  .navigation-link{
    font-size: 1.4rem;
  }
  .beater__main-actions{
    font-size: 1.4rem;
  
  }
  
  .beater__game-wrapper {
    width: 70%;
    max-width: 120rem;
    margin-top: 20rem;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2 {
    font-size: 1.3rem;
    margin-top: $l-size;
  }
  .slider {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    background-color: #231b19eb;
    z-index: 999;
    /* Add additional styling for the slider */
  }
   .footernav-link {
    cursor: pointer;
    font-size: 1.1rem;
    color: #bba474;
    text-decoration: none;
    padding: 0.5rem;
  }
  

  .controller {
    margin-left: 1%;
    margin-right: 1%;
    >div {
      >a {
        font-size: 1rem;
      }
    }
  }

  .beater__main {
    width: 90%;
  }

  .beater__main-title {
    font-size: 10vw;
  }



  .beater__game-wrapper {
    width: 90%;
  }

  .beater__game-widgets {
    width: 95%;
    padding: $padding-sm 0;
  }

  .beater__game-widgets-wrapper {
    h2 {
      font-size: 7vw;
    }
  }

  .beater__game-current {
    padding: $padding-xs 0;

    h1 {
      font-size: 10vw;
    }
  }

  .beater__game-input {
    width: 90%;
    font-size: $font-sm;

    &::-webkit-input-placeholder {
      font-size: $font-xs;
    }
  }

  .beater__gameover {
    width: 90%;
  }

  .beater__gameover-summary {
    width: 100%;
    padding: 0 $l-size;

    h2 {
      font-size: 2rem;
    }
  }

}

.beater__game-input {
  background: transparent;
  padding: $padding-md;
  padding-bottom: $padding-xs;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid transparentize(#fff, .5);
  text-align: center;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: .2;
  }
  
}