//Colors
$background: #161110eb;
$purple: #9B1BEA;
$pink: #ED06FB;
$yellow: #F9E606;
$red: #f34444;
$blue: #5cb5fc;
$orange: #fa713c;
$lime: #99da00;
// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$font-xs: 2rem;
$font-sm: 3rem;
$font-md: 4rem;
$font-l: 5rem;
$font-xl: 6rem;
$font-xxl: 8rem;

$padding-xs: 1.5rem;
$padding-sm: 2rem;
$padding-md: 3.5rem;
$padding-l: 4.5rem;
$padding-xl: 6rem;

//Breakpoints
$mobile: 45rem;
